@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
  padding-bottom: 2em;
  color: #022f8e;
}

.header-color {
  // background-color: rgba(243, 235, 228, 0.80);
  background-color: rgba(255, 255, 255, 0.80);
}

.navbar-light .navbar-brand {
    // color: rgba(0,0,0,0.9);
    color: #022f8e;
}

.navbar-light .navbar-nav .nav-link {
    // color: rgba(0,0,0,0.5);
    color: #022f8e;
}

.btn-primary {
    color: #fff;
    background-color: #022f8e;
    border-color: #022f8e;
}

a {
  color: #022f8e;
}

.spaceBetween {
  margin: 0px 2px;
}

.bottom-container {
  display: block;
}

.form-labels {
  font-size: large;
}

.title {
  font-family: 'Alegreya', serif;
}

.brand-logo, h1, h2, h3, h4, h5 {
  // font-family: 'Eczar', serif;
  font-family: 'Alegreya', serif;
}

h1 {
  font-size: 48px;
}

.to-center {
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
}
